<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/ecoequiplogo.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleproductDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>EcoEquip - Detalle de producto</title>
</head>
<body>
    <img class="logo" src="/img/logoEcoEquipParaFondoClaro.png"alt="logo">
    
    <article class="contenedor">
        <ul class="nav">
            <li>Carrito</li>
            <li>Perfil</li>
            <li>Cerrar</li>
        </ul>        
        <div class="bloque-sup">
            <img class="imgPrincipal" src="/img/jarroRosa.png" alt="taza térmica negra">
            <div class="panel-lateral">
                <h2 class="precio">$2000</h2>
                <button>Comprar</button>
            </div>
        </div>
        <div class="opciones">                          
            <ul class="carrusel">
                <li><p class="iconoFlecha"><i class="fas fa-chevron-left"></i></p></li>
                <li><img class="imgSecundaria" src="/img/jarroRosa.png" alt=""></li>
                <li><img class="imgSecundaria" src="/img/jarroCeleste.png" alt=""></li>
                <li><img class="imgSecundaria" src="/img/jarroRosa.png" alt=""></li>
                <li><p class="iconoFlecha"><i class="fas fa-chevron-right"></i></p></li>
            </ul>
        </div> 
        <div class="descripcion">
            <h2>Taza térmica</h2>
            <p>Taza térmica con tapa, fabricada en Acero Inoxidable
                con aislamiento al vacío de doble pared, recubierta con pintura resistente
                a rayaduras. Medidas: 12 cm de Alto, 9 cm de diámetro
            </p>
        </div>            
    </article>
</body>
</html>
