<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoEquip - Sign In</title>
    <link rel="stylesheet" href="./css/signin.css" />
  </head>
  <body>
    <div class="container form">
      <h2>Bienvenido</h2>
      <h3>Ingresá los datos de tu cuenta</h3>
      <form class="signinForm">
        <input type="email" autocomplete="email" placeholder="Correo" aria-label=""/>
        <input
          type="password"
          autocomplete="new-password"
          placeholder="Contraseña"
        />
        <span><a>¿Olvidaste tu contraseña?</a></span>
        <button type="submit">Ingresar</button>
      </form>
      <hr class="divider" />
      <span>¿No tenés cuenta? <a href="signup">Registrate</a></span>
    </div>

    <div class="container land"></div>
  </body>
</html>
